.search-container .search-bar {
  padding: 20px;
}

.search-container .search-bar input[type="text"] {
  // width: 200px;
  // box-sizing: border-box;
  // border: 2px solid #ccc;
  // border-radius: 4px;
  // font-size: 16px;
  // background-color: white;
  // // background-image: url("/images/search-icon.png");
  // // background-position: 10px 10px;
  // // background-repeat: no-repeat;
  // padding: 12px 20px 12px 40px;
  // transition: width 0.4s ease-in-out;
  padding: 0.9rem 1.15rem;
  width: 15rem;
  border: 1px solid #bbb;
  border-radius: 8px;
  outline: none;
  line-height: 1.2;
}

// .search-container .search-bar input[type="text"]:focus {
//   width: 300px;
// }

// Auto Complete Styling
.search-container .search-bar .suggestion-list {
  position: absolute;
  margin: 0;
  padding: 0;
  max-height: 60%;
  overflow-y: auto;
  border: 1px solid #bbb;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  list-style-type: none;
  text-align: left;
  z-index: 999999;
  background-color: white;
}

.search-container .search-bar .suggestion-list li {
  padding: 0.75rem 1.15rem;
  width: 15rem;
  cursor: pointer;
}
