.home-intro {
  padding: 210px 0; //top padding
}

.home-intro .text {
  text-align: center;
  color: white;
}

.home-intro .text h1 {
  margin: 25px;
  color: white;
}

.home-intro .description {
  margin: 30px 0 10px 0;
}

.home-intro .description p {
  opacity: 0.8;
}
